// Define variables for your color scheme

// Color scheme idea #1
// $background: #ffffff; // background-color
// $first: #213046;      // cards and vavbar
// $second: #6b665c;     // borders and stuff
// $third: #e79805;      // highlight-color for buttons and stuff
// $font: #111110;       // everything you want to write

// Color scheme idea #2
// $background: #222831; // background-color
// $first: #393E46;      // cards and vavbar
// $second: #6b665c;     // borders and stuff
// $third: #D65A31;      // highlight-color for buttons and stuff
// $font: #EEEEEE;       // everything you want to write
// $font-two: #746e6e;       // links, footer fonts etc

// Color scheme Github dark mode
$background: #363d49; // background-color
$first: #161B22;      // cards and vavbar
$second: #21262D;     // borders and stuff
$third: #e79805;      // highlight-color for buttons and stuff
$fourth: #58A6FF;
$font: #bec2c5;       // everything you want to write
$font-two: black;
$font-contrast: white;


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #838282;

// Language Colors
$Ruby: #FD1015;
$HTML: #e34c26;
$JavaScript: #f1e05a;
$Python: #486fa7;
$TypeScript: #3e676d;
$CSS: #4d446d;
$C: #555555;
$Vue: #39383b;

.white-link {
  color: $font;

  &:hover {
    color: $font;
  }
}
