// Define variables for your color scheme
$background: #222831; // background-color
$first: #393E46;      // cards and vavbar
$second: #6b665c;     // borders and stuff
$third: #D65A31;      // highlight-color for buttons and stuff
$font: #EEEEEE;       // everything you want to write
$font-two: #746e6e;       // links, footer fonts etc

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #838282;
