// Define variables for your color scheme
$background: #ffffff; // background-color
$first: #1c2e44;      // cards and navbar
$second: #6b665c;     // borders and stuff
$third: #e79805;      // highlight-color for buttons and stuff
$font: #111110;       // everything you want to write
$navbar-font: #95957c;       // everything you want to write

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #838282;
