// Specific CSS for your home-page

.home-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.colum-left {
  display: flex;
}

.colum-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-style: italic;
  }
}


.text-bottom {
  justify-content: end;
}

h1 {
  margin-top: 24px;
  // border-right: solid 3px $third;
  white-space: nowrap;
  overflow: hidden;
  color: $font;
}

.home-container h1 {
  margin-top: 24px;
  // border-right: solid 3px $third;
  white-space: nowrap;
  overflow: hidden;
  color: $third;
}

.home-container > .home-img > img {
  border-radius: 50%;
  margin: 1rem;
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.home-bottom {
  display: flex;
  align-content: center;
  align-items: first baseline;

  p {
    margin-left: 20px;
    color: $font-contrast;
  }
}

.home-avatar {
  width: 60px;
  height: 60px;
  margin-left: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px;
}

/* Animation */
#home-title > h1 {
  animation: animated-text 4s steps(28,end) 1s 1 normal both,
             animated-cursor 600ms steps(28,end) infinite;
  font-family: 'JetBrains Mono', monospace;
  font-size: 32px;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 550px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: $first;}
  to{border-right-color: transparent;}
}

#home-title {
  font-family: 'JetBrains Mono', monospace;
  margin: 16px;
  padding: 16px;
}

#home-button {
  margin-bottom: 24px;
  max-width: 180px;
  margin-left: 30px;
}

#home-button:hover {
  transition: 300ms;
  box-shadow: 8px 8px $font;
  border-radius: 4px;
}
