.profile-container {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.text-part {
  margin: 20px 0;
  max-width: 800px;
}

.image-part {
  position: absolute;
  top: 5rem;
  right: 2rem;
  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 4px $font (0,0,0,0.3);
    border: $first 1px solid;
    margin: 30px 20px;
    top: 1rem;
  }
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
}

.review {
  display: flex;
  border: 1px solid $font;
  border-radius: 4px;
  overflow: hidden;
  width: 300px;
  height: 85px;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 10px;
  transition: 300ms;

  &:hover {
  transition: 300ms;
  box-shadow: 8px 8px $font;
  }
}

.comment {
  margin: 10px;
  overflow: hidden;
  width: 190px;
  margin-right: 20px;
}

.rating {
  margin: 10px;
  width: 125px;
  height: 20px;
}
