<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= button_to "Done!", ticket_path(ticket), class: "btn standart-button",   
          params: {:ticket => { :id => ticket.id, :status => "closed"}}, 
          method: :put, data: { confirm: "Mark this To-Do as being completed?  This will hide it from view." } %>

          <%= button_to "Ticket not solved", ticket_path(ticket), class: "btn outline-button",
          params: {:ticket => { :id => ticket.id, :status => "open"}}, 
          method: :put, data: { confirm: "Mark this To-Do as being completed?  This will hide it from view." 
          } %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
