<div class="container-form">

  <div class="form-container">

    <div class="card-header">
      <h1 class="card-header-title">Open a Ticket</h1>
      <p class="card-header-description">Share details about your issue</p>
    </div>

    <div class="form-content">
      <%= render "form", ticket: @ticket %>
    </div>

  </div>
</div>
