.form-container {
  max-width: 900px;
}

.whole-page-container {
  display: flex;
  width: 100vw;
  flex-wrap:wrap;
  text-align: start;
}

.profile-container {
  display: flex;
  max-width: 10 0vw;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
  align-items: center;
}

.footer-container {
  margin-top: 16px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.font-container {
  overflow: hidden;
  align-items: center;
  margin-left: 16px;
}

.container-chat {
  display: flex;
  margin: 32px;
}

#chat-title {
  padding-bottom: 16px;
  margin-top: initial;
}

.chatroom {
  flex-grow: 1;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-call {
  flex: 1;
}
