.form-container {
  max-width: 900px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
  align-items: center;
}

.footer-container {
  margin-top: 150px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container-chat {
  display: flex;
  margin: 32px;
}

#chat-title {
  padding-bottom: 16px;
}

.chatroom {
  width: 700px;
  padding-right: 24px;
}
.video-call {
  flex: 1;
}
