.form-container {
  flex: 1;
  min-height: 300px;
  max-width: 900px;
  padding: 32px;
  max-width: 420px;
  margin: 0 auto;
  border-color: $green;
  background-color: $first;
  border: 1px solid $green;
  border-radius: 10px;
}

.container-form {
  display: flex;
  align-items: center;
  max-width: 1120px;
  margin: 16px auto;
  padding: 32px
}

.card_header {
    text-align: center;
    margin-bottom: 16px;
    display: block;
    align-items: center;
    text-align: center;
}


.card-header-title {
  font-size: 24px;
  margin: 8px;
  color: $font;
  font-weight: 500;
  font-size: 1.5em;
}

.card-header-description {
  font-size: 16px;
  color: $font;
  margin-bottom: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.form-content {
  display: block;
  color: $font;
}

.form-content .modal-body {
    display: block;
    margin-top: 0em;
    color: $font;
}

.form-item {
  background-color: $first;
  border: 0;
  width: 100%;
  margin: 8px;
  padding: 16px;
  border-radius: 4px;
  transition: all ease-in 0.2s;
  outline: none;
  color: $font;
}

.modal-content {
  flex: 1;
  min-height: 300px;
  padding: 32px;
  background-color: $first;
  border-radius: 4px;
  max-width: 420px;
  position: absolute;
  left: -70%;
  top: 130px;
}

.modal-content-status {
  position: absolute;
  left: 0;
  top: 170px;
  border: 1px solid $orange;
  background-color: $first;
}

.modal-content-status-closed {
  position: absolute;
  left: 0;
  top: 170px;
  border: 1px solid $font;
  background-color: $first;
}

.modal-title {
  font-size: 24px;
  margin: 8px;
  color: $font;
  font-weight: 500;
  font-size: 1.5em;
}

.modal-review-title {
  font-family: 'JetBrains Mono', monospace;
}

.modal-dialog {
  position: relative;
}
