.navbar-lewagon {
  justify-content: space-between;
  background: $first;
  color: $navbar-font;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: $navbar-font;
}

.navbar-links {
  color: $navbar-font;
  padding: 3px;
  text-align: center;
}