.navbar-lewagon {
  justify-content: space-between;
  background: $first;
  color: $font-two;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: $first;
  color: $font-two;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: $second;
}
