.ticket {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid $font;
  overflow: hidden;
  width: 300px;
  height: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
  position: relative;
}

.ticket-link {
  color: $font !important;
  overflow: hidden;
  text-decoration: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  min-height: 30px;
  min-width: 130px;
  border-radius: 4px;
  transition-duration: 300ms;
}

.ticket-link:hover {
  transition: 300ms;
  box-shadow: 8px 8px $font;
}

.ticket-link h2 {
  color: $font !important;
  color: $font !important;
}


.top-area {
  position: absolute;
  top: 4px;
  padding-top: 1rem;
}

.top-area p {
  margin-bottom: 0 !important;
  color: $font;
}

.bottom-area {
  position: absolute;
  bottom: 4px;
  right: 24px
}

.bottom-area p {
  color: $third;
}
