.video-call {
  flex-grow: 4 !important;
  // height: 580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.call-video-views-default {
  position: relative;
  height: 100%;
  background-color: black;
  border-radius: 8px
}

.call-video-views-incall {
  position: relative;
  height: 100%;
  background-color: transparent;
}

.no-call {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.waiting-for-buddy {
  color: white;
}

.call-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;


  .call-button {
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
  }

  .call-button:hover {
    box-shadow: 0 0 12px rgba(0,0,0, 0.3);
  }
}

.btn-start-call {
  background-color: $green;
}

.btn-end-call {
  background-color: $red;
}

#local-video {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  video {
    background: transparent;
    width: 150px;
    height: 150px;
  }
}

.remote-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  video {
    background: black;
    width: 100%;
    height: 580px;
  }
}

.screen-share {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  video {
    background: black;
    width: 600px;
    height: 580px;
  }
}

.remote-video-screenshare {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  video {
    background: transparent;
    width: 150px;
    height: 150px;
  }
}
