// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/video_call";
@import "components/category";
@import "components/button";
@import "components/container";

body {
  background-color: $background;
  color: $font;
}
